POLYGON_RPC=
POLYMARKET_START_BLOCK=33605403

KALSHI_API_KEY_ID=your-api-key-id-here
KALSHI_API_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
...your RSA private key here...
-----END RSA PRIVATE KEY-----"
